{% extends 'base.html.twig' %}

{% block title %}Ajouter un téléphone{% endblock %}

{% block body %}

<h1>Ajouter un téléphone</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
