{% extends 'base.html.twig' %}

{% block title %}Liste des téléphones{% endblock %}

{% block body %}

<h1>Liste des téléphones</h1>


<p><a href="#" class="btn btn-primary">Ajouter un téléphone</a></p>

{% for telephone in telephones %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{telephone.marque}}</h5>
    <h5 class="card-title">{{telephone.type}}</h5>
    <h5 class="card-title">{{telephone.taille}}</h5>
    <p><a href="#" class="btn btn-primary">Voir</a></p>
    <p><a href="#" class="btn btn-primary">Supprimer</a></p>
  </div>
</div>
{% endfor %}
{% endblock %}
